:root {
    --text-color: #ced4da;
    --bg-color: #343a40;
    --div-color: #212529;
    --max-p-width: 80ch;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    margin-block: 0;
    margin-inline: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.main_content {
    margin-block: 0.5em 2em;
}

.logo {
    position: absolute;
    left: 2em;
}

div {
    margin: 2em 4%;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--div-color);
}

p {
    margin-inline: auto;
    max-width: var(--max-p-width);
    text-wrap: pretty;
}

input {
    color: inherit;
    font-family: inherit;
    font-size: medium;
    border: 3px solid;
    border-radius: 5px;
}

input[type="search"] {
    background-image: url(./media/search/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.5em;
    margin-block: 1em 0;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background: url(./media/search/clear.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

input.div_search {
    width: 92%;
    background-color: var(--div-color);
    border-color: var(--div-color);
}

input.inner_search {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

table {
    margin: 2em auto 3em;
    border-collapse: collapse;
    text-align: left;
}

thead {
    border-bottom: 2px solid #495057;
}

th,
td {
    padding: 0.3em 1em;
}

th:first-of-type,
td:first-of-type {
    text-align: right;
    border-right: 2px solid #495057;
}

.warning {
    color: #e63946;
}

.footnote {
    font-style: italic;
    color: gray;
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    padding-block: 0.3em;
    max-width: var(--max-p-width);
}

.centered_list_container {
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #00b4d8;
}

a:visited {
    color: #0096c7;
}

a:hover {
    color: #90e0ef;
}

a:active {
    color: #caf0f8;
}

.main_url_section {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--max-p-width);
}

.main_url {
    display: flex;
    justify-content: center;
    padding: 0.6em 1em;
    min-width: 14ch;
    margin: 1em;
    border: 1px solid;
    border-radius: 5px;
    border-color: #6c757d;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s;
}

.main_url:any-link {
    color: var(--text-color);
}

.main_url:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0 0.5em 0em black;
    border-color: #495057;
    background-color: #495057;
    color: var(--text-color);
}

.main_url:active {
    transform: scale(0.9);
}

.popup {
    display: none;
    position: fixed;
    z-index: 20;
    top: 5%;
    bottom: 5%;
    width: calc(var(--max-p-width) + 10ch);
    max-width: 80%;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.65);
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -20;
}

.popup_close_button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 25px;
    font-size: 50px;
    color: #6c757d;
}

.popup_close_button:hover {
    color: #e63946;
}

.scrollable_container {
    overflow-y: auto;
    overscroll-behavior: contain;
}

.popup_text {
    height: calc(98% - 3.5em); /* subtract approx. size of h2 (+ its margin) */
    padding-right: 2em;
    text-align: left;
}

img.explaination {
    vertical-align: middle;
    border-radius: 2px;
    transition: transform 0.2s;

    /* override in inline styling if needed: */
    height: 1em;
    --image-scale: 2.5;
    --shadow-size: 0.4em;
}

img.explaination:hover {
    transform: scale(var(--image-scale));
    box-shadow: 0 0 var(--shadow-size) black;
}

footer {
    margin-top: auto;
    background-color: var(--div-color);
    padding: 1em;
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socials p {
    margin-inline: initial;
}

.social_icons {
    margin: auto 1em;
}

.social_icon {
    margin-inline: 5px;
    vertical-align: middle;
    height: 1.5em;
}