[Unit]
Description=DerLung-API
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/api.derlung.com/
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/api.derlung.com

[Install]
WantedBy=multi-user.target